---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/gothamtechlabs/crm-web/pulls/2795
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token foo
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1461262227'
      Etag:
      - W/"fc978e6c159a3e5c09cad3853860ad61"
      Last-Modified:
      - Fri, 08 Apr 2016 14:07:42 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/gothamtechlabs/crm-web/pulls/2795","id":64796742,"html_url":"https://github.com/gothamtechlabs/crm-web/pull/2795","diff_url":"https://github.com/gothamtechlabs/crm-web/pull/2795.diff","patch_url":"https://github.com/gothamtechlabs/crm-web/pull/2795.patch","issue_url":"https://api.github.com/repos/gothamtechlabs/crm-web/issues/2795","number":2795,"state":"closed","locked":false,"title":"Fix:
        undefined method `refresh_access_token!'' ","user":{"login":"paveldruzyak","id":14313,"avatar_url":"https://avatars.githubusercontent.com/u/14313?v=3","gravatar_id":"","url":"https://api.github.com/users/paveldruzyak","html_url":"https://github.com/paveldruzyak","followers_url":"https://api.github.com/users/paveldruzyak/followers","following_url":"https://api.github.com/users/paveldruzyak/following{/other_user}","gists_url":"https://api.github.com/users/paveldruzyak/gists{/gist_id}","starred_url":"https://api.github.com/users/paveldruzyak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/paveldruzyak/subscriptions","organizations_url":"https://api.github.com/users/paveldruzyak/orgs","repos_url":"https://api.github.com/users/paveldruzyak/repos","events_url":"https://api.github.com/users/paveldruzyak/events{/privacy}","received_events_url":"https://api.github.com/users/paveldruzyak/received_events","type":"User","site_admin":false},"body":"Problem
        was in this line from `initialize` method:\r\n`@client = Event::GoogleCalendarClient.new(integration).client`\r\nBecause
        when we call later from `client_excute!`:\r\n`client.refresh_access_token!`\r\nWe
        expect that `client` is `Event::GoogleCalendarClient`, but it was `Google::APIClient`.\r\nSo,
        in this PR I change it to `Event::GoogleCalendarClient`, this is more logical.
        And we now use `GoogleCalendarClient` as proxy for `APIClient`. ","created_at":"2016-03-31T14:12:44Z","updated_at":"2016-04-01T10:54:48Z","closed_at":"2016-04-01T10:54:46Z","merged_at":"2016-04-01T10:54:46Z","merge_commit_sha":"85c00e33f118f481714bda2317beea77df02c55e","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/gothamtechlabs/crm-web/pulls/2795/commits","review_comments_url":"https://api.github.com/repos/gothamtechlabs/crm-web/pulls/2795/comments","review_comment_url":"https://api.github.com/repos/gothamtechlabs/crm-web/pulls/comments{/number}","comments_url":"https://api.github.com/repos/gothamtechlabs/crm-web/issues/2795/comments","statuses_url":"https://api.github.com/repos/gothamtechlabs/crm-web/statuses/b9218ccbcc107cbc551f62c1c632ead07bc98763","head":{"label":"gothamtechlabs:hotfix-calendar","ref":"hotfix-calendar","sha":"b9218ccbcc107cbc551f62c1c632ead07bc98763","user":{"login":"gothamtechlabs","id":2652588,"avatar_url":"https://avatars.githubusercontent.com/u/2652588?v=3","gravatar_id":"","url":"https://api.github.com/users/gothamtechlabs","html_url":"https://github.com/gothamtechlabs","followers_url":"https://api.github.com/users/gothamtechlabs/followers","following_url":"https://api.github.com/users/gothamtechlabs/following{/other_user}","gists_url":"https://api.github.com/users/gothamtechlabs/gists{/gist_id}","starred_url":"https://api.github.com/users/gothamtechlabs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gothamtechlabs/subscriptions","organizations_url":"https://api.github.com/users/gothamtechlabs/orgs","repos_url":"https://api.github.com/users/gothamtechlabs/repos","events_url":"https://api.github.com/users/gothamtechlabs/events{/privacy}","received_events_url":"https://api.github.com/users/gothamtechlabs/received_events","type":"Organization","site_admin":false},"repo":{"id":6395017,"name":"crm-web","full_name":"gothamtechlabs/crm-web","owner":{"login":"gothamtechlabs","id":2652588,"avatar_url":"https://avatars.githubusercontent.com/u/2652588?v=3","gravatar_id":"","url":"https://api.github.com/users/gothamtechlabs","html_url":"https://github.com/gothamtechlabs","followers_url":"https://api.github.com/users/gothamtechlabs/followers","following_url":"https://api.github.com/users/gothamtechlabs/following{/other_user}","gists_url":"https://api.github.com/users/gothamtechlabs/gists{/gist_id}","starred_url":"https://api.github.com/users/gothamtechlabs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gothamtechlabs/subscriptions","organizations_url":"https://api.github.com/users/gothamtechlabs/orgs","repos_url":"https://api.github.com/users/gothamtechlabs/repos","events_url":"https://api.github.com/users/gothamtechlabs/events{/privacy}","received_events_url":"https://api.github.com/users/gothamtechlabs/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/gothamtechlabs/crm-web","description":"www.wealthbox.com","fork":false,"url":"https://api.github.com/repos/gothamtechlabs/crm-web","forks_url":"https://api.github.com/repos/gothamtechlabs/crm-web/forks","keys_url":"https://api.github.com/repos/gothamtechlabs/crm-web/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gothamtechlabs/crm-web/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gothamtechlabs/crm-web/teams","hooks_url":"https://api.github.com/repos/gothamtechlabs/crm-web/hooks","issue_events_url":"https://api.github.com/repos/gothamtechlabs/crm-web/issues/events{/number}","events_url":"https://api.github.com/repos/gothamtechlabs/crm-web/events","assignees_url":"https://api.github.com/repos/gothamtechlabs/crm-web/assignees{/user}","branches_url":"https://api.github.com/repos/gothamtechlabs/crm-web/branches{/branch}","tags_url":"https://api.github.com/repos/gothamtechlabs/crm-web/tags","blobs_url":"https://api.github.com/repos/gothamtechlabs/crm-web/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gothamtechlabs/crm-web/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gothamtechlabs/crm-web/git/refs{/sha}","trees_url":"https://api.github.com/repos/gothamtechlabs/crm-web/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gothamtechlabs/crm-web/statuses/{sha}","languages_url":"https://api.github.com/repos/gothamtechlabs/crm-web/languages","stargazers_url":"https://api.github.com/repos/gothamtechlabs/crm-web/stargazers","contributors_url":"https://api.github.com/repos/gothamtechlabs/crm-web/contributors","subscribers_url":"https://api.github.com/repos/gothamtechlabs/crm-web/subscribers","subscription_url":"https://api.github.com/repos/gothamtechlabs/crm-web/subscription","commits_url":"https://api.github.com/repos/gothamtechlabs/crm-web/commits{/sha}","git_commits_url":"https://api.github.com/repos/gothamtechlabs/crm-web/git/commits{/sha}","comments_url":"https://api.github.com/repos/gothamtechlabs/crm-web/comments{/number}","issue_comment_url":"https://api.github.com/repos/gothamtechlabs/crm-web/issues/comments{/number}","contents_url":"https://api.github.com/repos/gothamtechlabs/crm-web/contents/{+path}","compare_url":"https://api.github.com/repos/gothamtechlabs/crm-web/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gothamtechlabs/crm-web/merges","archive_url":"https://api.github.com/repos/gothamtechlabs/crm-web/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gothamtechlabs/crm-web/downloads","issues_url":"https://api.github.com/repos/gothamtechlabs/crm-web/issues{/number}","pulls_url":"https://api.github.com/repos/gothamtechlabs/crm-web/pulls{/number}","milestones_url":"https://api.github.com/repos/gothamtechlabs/crm-web/milestones{/number}","notifications_url":"https://api.github.com/repos/gothamtechlabs/crm-web/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gothamtechlabs/crm-web/labels{/name}","releases_url":"https://api.github.com/repos/gothamtechlabs/crm-web/releases{/id}","deployments_url":"https://api.github.com/repos/gothamtechlabs/crm-web/deployments","created_at":"2012-10-25T21:42:52Z","updated_at":"2016-01-11T15:23:29Z","pushed_at":"2016-04-21T15:26:33Z","git_url":"git://github.com/gothamtechlabs/crm-web.git","ssh_url":"git@github.com:gothamtechlabs/crm-web.git","clone_url":"https://github.com/gothamtechlabs/crm-web.git","svn_url":"https://github.com/gothamtechlabs/crm-web","homepage":"","size":81572,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":17,"forks":0,"open_issues":17,"watchers":1,"default_branch":"master"}},"base":{"label":"gothamtechlabs:master","ref":"master","sha":"7926c0235ddef7f05d6effb3a19e9e983d015b97","user":{"login":"gothamtechlabs","id":2652588,"avatar_url":"https://avatars.githubusercontent.com/u/2652588?v=3","gravatar_id":"","url":"https://api.github.com/users/gothamtechlabs","html_url":"https://github.com/gothamtechlabs","followers_url":"https://api.github.com/users/gothamtechlabs/followers","following_url":"https://api.github.com/users/gothamtechlabs/following{/other_user}","gists_url":"http[...]
